@page "/"
@inherits ComponentBase

<div class="columns is-variable is-1 px-1">
    <div class="column is-4-tablet is-3-desktop is-3-widescreen is-2-fullhd">
        <EditForm Model="ViewModel">
            <div class="field">
                <Label For="() => ViewModel.Start" TooltipMode="TooltipMode" />
                <div class="control has-icons-left has-icons-right">
                    <InputDateTime @bind-Value=ViewModel.Start />
                    <div class="help is-danger">
                        <ValidationMessage For="() => ViewModel.Start" />
                    </div>
                </div>
            </div>

            <div class="field">
                <Label For="() => ViewModel.End" TooltipMode="TooltipMode" />
                <div class="control has-icons-left has-icons-right">
                    <InputDateTime @bind-Value=ViewModel.End />
                    <div class="help is-danger">
                        <ValidationMessage For="() => ViewModel.End" />
                    </div>
                </div>
            </div>

            <div class="field">
                <Label For="() => ViewModel.EventNumber" TooltipMode="TooltipMode" />
                <div class="control has-icons-left">
                    <InputNumber class="input" @bind-Value=ViewModel.EventNumber />
                    <span class="material-icons icon is-left">numbers</span>
                    <div class="help is-danger">
                        <ValidationMessage For="() => ViewModel.EventNumber" />
                    </div>
                </div>
            </div>

            <div class="field">
                <Label For="() => ViewModel.EventName" TooltipMode="TooltipMode" />
                <div class="control has-icons-left">
                    <InputText class="input" @bind-Value=ViewModel.EventName />
                    <span class="material-icons icon is-left">title</span>
                    <div class="help is-danger">
                        <ValidationMessage For="() => ViewModel.EventName" />
                    </div>
                </div>
            </div>

            <div class="field">
                <Label For="() => ViewModel.SearchMessage" TooltipMode="TooltipMode" />
                <div class="control has-icons-left">
                    <InputText class="input" @bind-Value=ViewModel.SearchMessage />
                    <span class="material-icons icon is-left">search</span>
                    <div class="help is-danger">
                        <ValidationMessage For="() => ViewModel.SearchMessage" />
                    </div>
                </div>
            </div>

            <div class="field">
                <Label For="() => ViewModel.Source" TooltipMode="TooltipMode" />
                <div class="control has-icons-left is-expanded">
                    <div class="select is-fullwidth">
                        <InputSelect @bind-Value="ViewModel.Source">
                            <option value="">Any</option>
                            @foreach (var source in InputModel.LogSources)
                            {
                                <option value="@source">@source</option>
                            }
                        </InputSelect>
                    </div>
                    <span class="material-icons icon is-left">list</span>
                </div>
            </div>

            <div class="field">
                <Label For="() => ViewModel.SelectedLogLevels" TooltipMode="TooltipMode" />
                <div class="control">
                    <InputFlaggedEnum label-class="pr-2" IsBoxed=false @bind-Value="ViewModel.SelectedLogLevels" />
                </div>
            </div>
        </EditForm>
    </div>
    <div class="column is-8-tablet is-9-desktop is-9-widescreen is-10-fullhd is-overflow-x">
        <EditForm Model="InputModel">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Upload Log File</label>
                        <div class="control has-icons-left">
                            <InputFile class="input" OnChange="AddFile" accept="@GetFileTypes()" />
                            <span class="material-icons icon is-left">file_upload</span>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <Label For="() => InputModel.LogFileData" TooltipMode="TooltipMode" />
                        <div class="control has-icons-left">
                            <InputTextArea class="input" @bind-Value="InputModel.LogFileData" @oninput='OnLogFileDataChanged' autocomplete="off" rows="6" />
                            <span class="material-icons icon is-left">description</span>
                            <div class="help is-danger">
                                <ValidationMessage For="() => InputModel.LogFileData" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>

        <table class="table is-striped is-fullwidth is-hoverable is-size-6">
            <thead class="is-whitespace-nowrap">
                <tr class="is-sticky is-sticky-top has-background-default">
                    <th class="is-1">Timestamp</th>
                    <th class="is-2">Source</th>
                    <th class="is-1">Level</th>
                    <th class="is-1">Event Id</th>
                    <th class="is-1">Event Name</th>
                    <th class="is-6">Message</th>
                </tr>
            </thead>
            <tbody class="is-whitespace-nowrap">
                <Virtualize Items="GetDisplayLogEntries()" Context="entry" ItemSize="41">
                    <ItemContent>
                        <tr>
                            <td>@entry.Timestamp.ToString("G")</td>
                            <td>@entry.Source</td>
                            <td>@entry.Severity</td>
                            <td>@entry.Id?.Id</td>
                            <td>@entry.Id?.Name</td>
                            <td>@entry.Message</td>
                        </tr>
                    </ItemContent>
                    <Placeholder>
                        <tr>
                            <td colspan="6">&hellip;</td>
                        </tr>
                    </Placeholder>
                </Virtualize>
            </tbody>
        </table>
    </div>
</div>
